/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered_header {
    margin-left: auto;
    margin-right: auto;
}

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin: 0% 5%;
    background-image: url("/static/img/backgorund_1.png") ;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 15px;
    }
}

.title_head {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: .4rem;
    border-radius: 15px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    transition: transform 1s ease, top 1s ease;

    :hover {
        transform: scale(110%);
        box-shadow: #1a8870 5px 0px 2px;
    }
}
